
<h4>New Comment</h4>
<%= form_for [post, post.comments.new], remote: true do |f| %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-succes' %>
  </div>

<% end %>